In [3]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import re
import requests

In [4]:
target = 'http://bwfbadminton.com/rankings/2/bwf-world-rankings/6/men-s-singles/{year}/{week}?rows_per_page=5000'
xd_test = 'http://bwfbadminton.com/rankings/2/bwf-world-rankings/10/mixed-doubles/{year}/{week}?rows_per_page=5000'

In [66]:
def getBWFRankings(year, week):
    headers = {'Accept-Encoding': 'deflate'}
    r = requests.get(xd_test.format(year=year, week=week), headers=headers)
    soup = BeautifulSoup(r.text, 'lxml')
    print soup.prettify()
    downs = soup.find_all('img', {'src': re.compile('down\.png')})
    for d in downs:
        d.parent.find('span', class_='ranking-change').string = '-' + d.parent.find('span', class_='ranking-change').string

    table = soup.find('table', class_='tblRankingLanding')
    table = pd.read_html(str(table))[0]
    return table

In [16]:
getBWFRankings(2016,7)

,RANK,COUNTRY,PLAYER,CHANGE +/-,WIN - LOSE,PRIZE MONEY,POINTS / TOURNAMENTS
0,1,CHN CHN,ZHANG Nan ZHAO Yunlei,0,261 - 35,"$1,098,387.50","99,735 / 14"
1,2,INA INA,Tontowi AHMAD Liliyana NATSIR,0,221 - 60,"$765,219.99","80,512 / 17"
2,3,CHN CHN,LIU Cheng BAO Yixin,0,80 - 34,"$210,833.72","77,200 / 16"
3,4,KOR KOR,KO Sung Hyun KIM Ha Na,0,102 - 44,"$330,442.49","75,460 / 19"
4,5,DEN DEN,Joachim FISCHER NIELSEN Christinna PEDERSEN,0,239 - 74,"$697,027.73","73,764 / 14"
5,6,CHN CHN,XU Chen MA Jin,0,197 - 52,"$810,680.60","73,741 / 15"
6,7,ENG ENG,Chris ADCOCK Gabrielle ADCOCK,0,150 - 90,"$276,591.01","67,574 / 18"
7,8,INA INA,Praveen JORDAN Debby SUSANTO,0,73 - 40,"$167,370.59","66,382 / 25"
8,9,HKG HKG,LEE Chun Hei Reginald CHAU Hoi Wah,1,93 - 54,"$164,000.84","59,445 / 24"
9,10,CHN CHN,LU Kai HUANG Yaqiong,-1,69 - 29,"$135,143.73","59,290 / 17"
10,11,KOR KOR,SHIN Baek Cheol CHAE Yoo Jung,0,30 - 14,"$96,043.74","51,420 / 14"
11,12,MAS MAS,Peng Soon CHAN Liu Ying GOH,1,167 - 98,"$202,525.61","47,360 / 22"
12,13,KOR KOR,SolGyu CHOI EOM Hye Won,-1,30 - 16,"$106,338.74","47,150 / 18"
13,14,NED NED,Jacco ARENDS Selena PIEK,0,95 - 63,"$39,391.99","44,395 / 22"
14,15,INA INA,Edi SUBAKTIAR Gloria Emanuelle WIDJAJA,0,55 - 36,"$48,101.60","43,580 / 19"
15,16,GER GER,Michael FUCHS Birgit MICHELS,0,161 - 95,"$162,701.76","43,448 / 25"
16,17,POL POL,Robert MATEUSIAK Nadiezda ZIEBA,0,240 - 92,"$185,323.75","41,650 / 12"
17,18,INA INA,Ronald ALEXANDER Melati Daeva OKTAVIANI,0,49 - 25,"$22,671.10","40,170 / 18"
18,19,HKG HKG,CHAN Alan Yun Lung TSE Ying Suet,0,59 - 54,"$48,019.74","39,347 / 23"
19,20,JPN JPN,Kenichi HAYAKAWA Misaki MATSUTOMO,0,58 - 69,"$44,433.82","38,280 / 13"
20,21,INA INA,Riky WIDIANTO Puspita Richi DILI,0,83 - 56,"$101,621.08","38,010 / 17"
21,22,RUS RUS,Vitalij DURKIN Nina VISLOVA,0,173 - 80,"$73,647.72","37,010 / 22"
22,23,JPN JPN,Kenta KAZUNO Ayane KURIHARA,0,28 - 16,"$16,294.36","36,500 / 16"
23,24,USA USA,Phillip CHEW Jamie SUBANDHI,0,75 - 67,"$19,373.64","36,368 / 29"
24,25,FRA FRA,Ronan LABAR Emilie LEFEL,0,75 - 48,"$18,393.99","36,158 / 26"
25,26,JPN JPN,Keigo SONODA Naoko FUKUMAN,0,14 - 12,"$15,131.23","35,930 / 12"
26,27,KOR KOR,KIM Gi Jung SHIN Seung Chan,1,15 - 18,"$43,334.36","35,910 / 18"
27,28,SIN SIN,Danny Bawa CHRISNANTA Yu Yan Vanessa NEO,-1,130 - 108,"$71,518.62","35,854 / 21"
28,29,THA THA,Sudket PRAPAKAMOL Saralee THOUNGTHONGKAM,0,296 - 179,"$336,467.45","34,700 / 15"
29,30,CHN CHN,HUANG Kaixiang HUANG Dongping,6,24 - 9,"$29,128.12","33,740 / 9"
...,...,...,...,...,...,...,...
1447,1420,ROU ROU,David NITU Nitu MIRUNA ELENA,-19,0 - 0,NaN,100 / 1
1448,1420,ROU ROU,Andreas THIEL Ioana IONICA,-19,0 - 0,NaN,100 / 1
1449,1420,POR POR,Miguel PINTO Joana AMARAL,-19,0 - 0,NaN,100 / 1
1450,1420,POR POR,Manuel LEITAO Ana ALBUQUERQUE,-19,0 - 0,NaN,100 / 1
1451,1420,POR POR,Angelo SILVA Ana DIAS,-19,0 - 0,NaN,100 / 1
1452,1420,POR POR,Joao MARQUES Joana LOPES,-19,0 - 0,NaN,100 / 1
1453,1420,POR POR,Ruben VIEIRA Ana AMARAL,-19,0 - 0,NaN,100 / 1
1454,1420,POR POR,Guilherme PEREIRA Gabriela PEREIRA,-19,0 - 0,NaN,100 / 1
1455,1420,SLO SLO,Urban HERMAN Nastja STOVANJE,-19,0 - 0,NaN,100 / 1
1456,1420,POR POR,Bruno CARVALHO Sonia GONCALVES,-19,0 - 0,NaN,100 / 1
1457,1420,POR POR,Paulo MENDONCA Isabel MATIAS,-19,0 - 0,NaN,100 / 1
1458,1459,ISL ISL,Daniel THOMSEN Rakel JOHANNESDOTTIR,-19,0 - 0,NaN,93 / 1
1459,1460,AUT AUT,Matthias ALMER Elisabeth BALDAUF,-19,0 - 0,NaN,88 / 1
1460,1461,SVK SVK,Richard SMATLAK Lenka DROTAROVA,-19,0 - 0,NaN,60 / 1
1461,1461,SVK SVK,Michal MATEJKA Julia POLACKOVA,-19,0 - 0,NaN,60 / 1
1462,1461,NOR NOR,Sturla Flaten JORGENSEN Anne KLYVE,-19,0 - 0,NaN,60 / 1
1463,1461,SVK SVK,Marian SMREK Lucia GRENCIKOVA,-19,0 - 0,NaN,60 / 1
1464,1461,LAT LAT,Toms PREINBERGS Ieva POPE,-19,0 - 0,NaN,60 / 1
1465,1461,RUS RUS,Kirill ERMAKOV Anastasia DOBRININA,-19,0 - 0,NaN,60 / 1
1466,1461,EST EST,Marcus LÃO Mari Ann KARJUS,-19,0 - 0,NaN,60 / 1
1467,1461,LAT LAT,Toms PREINBERGS Aija POPE,-19,0 - 0,NaN,60 / 1
1468,1461,BLR BLR,Vladzislav KUSHNIR Anastasiya CHERNIAVSKAYA,-19,0 - 0,NaN,60 / 1
1469,1461,FRA FRA,Marc LAPORTE Yaelle HOYAUX,-19,0 - 0,NaN,60 / 1
1470,1471,SRI SRI,Achini RATNASIRI Nimmika THISARA,-19,0 - 0,NaN,36 / 1
1471,1472,ALG ALG,Mohamed Amine GUELMAOUI Baya NESRINE,-19,0 - 0,NaN,2 / 1
1472,1472,BOT BOT,Kgalalelo KEGAKILWE Orideetse THELA,-19,0 - 0,NaN,2 / 1
1473,1472,NGR NGR,Dorcas Ajoke ADESOKAN Victor MAKANJU,-19,0 - 0,NaN,2 / 1
1474,1472,TUR TUR,Ozge BAYRAK Ramazan OZTURK,-19,0 - 0,NaN,2 / 1
1475,1472,ITA ITA,Rosario MADDALONI Karin MARAN,-19,0 - 0,NaN,2 / 1
1476,1477,PHI PHI,Ronel ESTANISLAO Thea Marie POMAR,-18,0 - 0,NaN,2 / 1

In [60]:
def getWeeks(category):
    result = []
    headers = {'Accept-Encoding': 'deflate'}
    link = 'http://bwfbadminton.com/rankings/2/bwf-world-rankings/6/men-s-singles'
    soup = BeautifulSoup(r.text, 'lxml')
    weeks = soup.find('select', {'id': 'ranking-week'}).find_all('option')
    for w in weeks:
        result.append(w['value'].split('--'))
    return result

In [61]:
options = getWeeks(1)

In [62]:
type(options)

list

In [63]:
options

[['2016', '7'],
 ['2016', '6'],
 ['2016', '5'],
 ['2016', '4'],
 ['2016', '3'],
 ['2016', '2'],
 ['2016', '1'],
 ['2015', '53'],
 ['2015', '52'],
 ['2015', '51'],
 ['2015', '50'],
 ['2015', '49'],
 ['2015', '48'],
 ['2015', '47'],
 ['2015', '46'],
 ['2015', '45'],
 ['2015', '44'],
 ['2015', '43'],
 ['2015', '42'],
 ['2015', '41'],
 ['2015', '40'],
 ['2015', '39'],
 ['2015', '38'],
 ['2015', '37'],
 ['2015', '36'],
 ['2015', '35'],
 ['2015', '34'],
 ['2015', '33'],
 ['2015', '32'],
 ['2015', '31'],
 ['2015', '30'],
 ['2015', '29'],
 ['2015', '28'],
 ['2015', '27'],
 ['2015', '26'],
 ['2015', '25'],
 ['2015', '24'],
 ['2015', '23'],
 ['2015', '22'],
 ['2015', '21'],
 ['2015', '20'],
 ['2015', '19'],
 ['2015', '18'],
 ['2015', '17'],
 ['2015', '16'],
 ['2015', '15'],
 ['2015', '14'],
 ['2015', '13'],
 ['2015', '12'],
 ['2015', '11'],
 ['2015', '10'],
 ['2015', '9'],
 ['2015', '8'],
 ['2015', '7'],
 ['2015', '6'],
 ['2015', '5'],
 ['2015', '4'],
 ['2015', '3'],
 ['2015', '2'],
 ['2015', '1']]